<form id="bookCard">
    <div><label>Название</label></div>
    <div><input id="Name" name="Name" /></div>
    <br />
    <div><label>Автор</label></div>
    <div><input id="Author" name="Author" /></div>
    <br />
    <div><label>Год издания</label></div>
    <div><input id="Year" name="Year" /></div>
    <br />
    <div><label>Кол-во страниц</label></div>
    <div><input id="PageCount" name="PageCount"/></div>
    <br />
    <div><label>ISBN</label></div>
    <div><input id="ISBN" name="ISBN" /></div>
    <br />
</form>
<div><button id="SaveBook">Сохранить</button></div>